<table class="moim_index" summary="moim_information">
	<tr>
		<td class="main">
			<h1>All Moims</h1>

			<%= will_paginate %>

			<table class="moims" summary="User moims">
				<%= render @moims %>
			</table>

			<%= will_paginate %>

		</td>

		<td class="sidebar round">
			<% if signed_in? %>

			<strong>Name</strong> <%= current_user.name %><br />




			<% else %>
			<h1>Sign in</h1>

			<%= form_for(:session, :url => sessions_path) do |f| %>
			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.text_field :email %>
			  </div>
			  <div class="field">
			    <%= f.label :password %><br />
			    <%= f.password_field :password %>
			  </div>
			  <div class="actions">
			    <%= f.submit "Sign in" %>
			  </div>
			<% end %>

			<p>New user? <%= link_to "Sign up now!", signup_path %></p>
			

			<%= link_to "New Moim", newmoim_path, :class => "signup_button round" %>



			<% end %>
		</td>
	</tr>
</table>
