<h1>New Moim</h1>

<%= form_for @moim do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

 <div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>



