<table class="Moim" summary="Moim information">
  <tr>
    <td class="main">
      <h1>
        <%= @moim.title %>
      </h1>
	   <%= @moim.content %><br />

	
		<% if current_user?(@moim.user) %>
		  
		
		
		    <%= link_to "delete", @moim, :method => :delete,
		                                     :confirm => "You sure?",
		                                     :title => @moim.content %>
		    <%= link_to "edit", edit_moim_path(@moim)%>
		  
		
		
		  <% end %>
	
			<%= render 'attend_form' if signed_in? %>
    </td>
  </tr>
</table>



